
.Productos-general {
    padding: 20px;
    text-align: center;
  }
  
  .product-grid-general {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    margin-top: 20px;
  }
  
  .tarjeta-producto-general {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    max-width: 100%; 
    min-width: 300px; 
    height: 200px;
    box-sizing: border-box; 
}
.tarjeta-producto-general h3 {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-align: left; 
}

.tarjeta-producto-general p {
  margin: 5px 0;
  font-size: 10px;
  text-align: left;
}


.Imagen-producto-general{
    width: 80px;
    height: 80px;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    object-fit: cover; /* Asegura que la imagen mantenga la proporción */
    background-color: transparent; /* Asegúrate de que no tenga fondo */
    border-radius: 5px;
}
.producto-detalle {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;

}

.back-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.detalle-contenedor {
  display: flex;
  gap: 20px;
}

.imagen-detalle {
  width: 250px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.info-detalle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo-detalle {
  font-size: 24px;
  font-weight: bold;
}

.descripcion-detalle,
.productos-detalle {
  font-size: 16px;
  color: #555;
}

.precio-detalle {
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.add-cart-button{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-cart-button:hover {
  background-color: #0056b3;
}

